<h2>トップページ</h2>
<h3>【最優先アクション】</h3>
<% @important_verbs.each do |verb| %>
  <p><%= verb.name %></p>
  <%= link_to "計測スタート", record_start_path(user_id: current_user.id, id: verb.id) %>
<% end %>
<h3>【設定中アクション】</h3>
<% @selected_verbs.each do |verb| %>
  <p><%= verb.name %></p>
<% end %>

<p id="RealtimeClockArea2"></p>

