<h2>トップページ</h2>
<h3>【最優先アクション】</h3>
<% @important_verbs.each do |verb| %>
  <p><%= verb.name %></p>
  <%= record_toggle(verb) %>
<% end %>
<h3>【設定中アクション】</h3>
<% @selected_verbs.each do |verb| %>
  <p><%= verb.name %></p>
<% end %>

<p id="RealtimeClockArea2"></p>



