/*
 *= require_tree .
 *= require_self
 *= require fullcalendar
*/

@import "bootstrap";

//アプリタイトル題名

@font-face {
    font-family: "自家製Rounded M+";
    src: font-url("rounded-mplus-1p-black.ttf") format("truetype"); 
  }

  //見出し

  @font-face {
    font-family: "Rounded M+";
    src: font-url("rounded-mplus-1m-regular.ttf") format("truetype"); 
  }

  @font-face {
    font-family: "DSEG";
    src: font-url("DSEG7Classic-Bold.ttf") format("truetype"); 
  }


*{
  margin: 0;
  padding: 0;
  list-style: none;
  color: #696969;
  font-family: "Rounded M+";
}

//ナビ

.nav-list{

  text-align: center;

  &__item{
    display: inline-block;
  }
}

.nav{}