// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.setup-action {
    &__actName {
        margin-bottom: 80px;
        text-align: center;
    }

    &__item {
        float: left;
        margin: 50px 0 0 30px;
        width: 25%;
        list-style: none;
    }

    &__doswitch {
        /* スイッチ台座部分 */
        width: 200px;
        height: 50px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: #d3d3d3;
    }

    &__doswitch-body {
        /* スイッチ側面一部（両端） */
        position: relative;
        top: -18px;
        display: block;
        margin: 0 auto;
        width: 160px;
        height: 40px;
        background-color: #dcdcdc;

        &is-active {
            /* 選択時 */
            height: 28px;
            top: -6px;
            background-color: #dc143c;
        }
        
    }

    &__doswitch-body-a,
    &__doswitch-body-b {
        /* スイッチ底面、頭構成部分 */
        position: absolute;
        left: 0;
        display: block;
        width: 160px;
        height: 40px;
        border-radius: 100%;
        content: '';
    }

    &__doswitch-body-a {
        /* スイッチ底面：位置調整とスタイル */
        bottom: -20px;
        background-color: #dcdcdc;

    }

    &__doswitch-body-b {
        /* スイッチ頭：位置調整とスタイル */
        top: -20px;
        background-color: #f5f5f5;
    }

    &__doswitch-body:active {
        /* クリックアニメーション */
        height: 20px;
        top: 2px;
    }
}

.is-active {
    /* 選択時スイッチ */
    height: 28px;
    top: -6px;
    background-color: #dc143c;
    display: block;
}

.is-active-a {
    /* 選択時スイッチ */
    background-color: #dc143c;
}

.is-active-b {
    /* 選択時スイッチ */
    background-color: #ff0000
}

.btn_area {
    width: 200px;
    height: 100px;
}

.check_achieve_before {
    color: gray;
    opacity: 0.6;
}

.check_achieve_after {
    color: lightgreen;
}