// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-page{

    &__main-title{
        margin: 80px 0 100px;
        font-size: 100px;
    }

    &__title{
        position:relative;
        font-family: "自家製Rounded M+";
        font-size: 1.0em;
        color: #6495ed;
        text-align: center;
        span{
            color: #ff69b4;
            font-size: 1.2em;
            font-family: "自家製Rounded M+";
        }
    }
    &__app-discription{
        position:　absolute;
        margin-top: -0.5em;
        font-size: 0.25em;
        text-align: center;
    }
}


.prioritize-action,
.setup-action {

    &::after{
        display: block;
        clear: both;
        content: "";    
    }

    &__title{
        font-family: "Rounded M+";
        text-align: center;
        padding-left: 25px;
    }

    &__actName {
        margin-bottom: 80px;
        text-align: center;
    }


    &__doswitch{
        position: relative;
    }

    &__doswitchStandTop {
        /* スイッチ台座部分 */
        width: 220px;
        height: 50px;
        margin: 0 auto;
        border-radius: 50%;
        position: relative;
        z-index: 1;
    }

    &__doswitchStandBody{/* スイッチスタンド */
        width: 220px;
        height: 120px;
        margin: 0 auto;
        border-radius: 5px 5px 50% 50% / 5px 5px 33.3% 33.3%; 
        position: absolute;
        box-shadow: 0 3px 3px;


    }

    &__doswitch-body {
        /* スイッチ側面一部（両端） */
        position: relative;
        top: -18px;
        display: block;
        margin: 0 auto;
        width: 160px;
        height: 40px;
        background-color: #dcdcdc;
        &:active {
            /* クリックアニメーション */
            height: 20px;
            top: 2px;
        }
    }

    &__doswitch-body-a,
    &__doswitch-body-b {
        /* スイッチ底面、頭構成部分 */
        position: absolute;
        left: 0;
        display: block;
        width: 160px;
        height: 40px;
        border-radius: 100%;
    }

    &__doswitch-body-a {
        /* スイッチ底面：位置調整とスタイル */
        bottom: -20px;
        background-color: #dcdcdc;
    }

    &__doswitch-body-b {
        /* スイッチ頭：位置調整とスタイル */
        top: -20px;
        background-color: #f5f5f5;
    }

}

.prioritize-action{

    &__list-ul{
        margin: 50px 0 0 70px;
    }

    &__item {
        margin-right: 20px;
        float: left;
        width: 45%;
        list-style: none;
    }

    &__doswitchStandTop {
        background-color: #ffc0cb; 
    }
    
    &__doswitchStandBody{
        background-color: #ffb6c1;
        left: 130px;
        bottom: -90px;
    }
    }

.setup-action{

    &__list-ul{
        margin: 50px 0 0 80px;
    }

    &__item {
        float: left;
        margin: 50px 0 0 50px;
        width: 25%;
        list-style: none;
    }

    &__doswitchStandTop {
        background-color: #fffacd;
    }

    &__doswitchStandBody{
        background-color: #fff7b3; 
        left: 23px;
        bottom: -90px; 
    }
}




.prioritize-action{
    margin-bottom: 150px;
}

.is-switch-active {
    /* 選択時スイッチ */
    height: 22px;
    top: 0;
    background-color: #dc143c;
}

.is-switch-active .setup-action__doswitch-body-a {
    /* 選択時スイッチ */
    background-color: #dc143c;
}

.is-switch-active .setup-action__doswitch-body-b {
    /* 選択時スイッチ */
    background-color: #ff0000
}


.btn_area {
    width: 200px;
    height: 100px;
}

.check_achieve_before {
    color: gray;
    opacity: 0.6;
}

.check_achieve_after {
    color: lightgreen;
}