// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.switch {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 100%;
}

/* 2. スイッチ本体 */
.switch a {
    position: relative;
    top: -18px;
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 40px;
}

/* 押した時にボタンが押し込まれる */
.switch a:active {
    height: 20px;
    top: 2px;
}

/* ボタン本体を円柱に見せるために */
.switch a::before,
.switch a::after {
    position: absolute;
    left: 0;
    display: block;
    width: 160px;
    height: 40px;
    border-radius: 100%;
    content: '';
}

/* 3. ラベル */
.switch a span {
    position: absolute;
    top: -40px;
    display: block;
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.switch a.active span {
    display: none;
}

.switch a::before {
    bottom: -20px;
}

.switch a::after {
    top: -20px;
}


//スイッチその１

.red {
    background-color: #ff0000;
}

.red a {
    background-color: #dc143c;
}

.red a::before {
    background-color: #dc143c;
}

.red a::after {
    background-color: #ff0000;
}

//スイッチその２

.brue {
    background-color: #0000ff;
}

.brue a {
    background-color: #0000cd;
}

.brue a::before {
    background-color: #0000cd;
}

.brue a::after {
    background-color: #0000ff;
}

//スイッチその3

.yellow {
    background-color: #ffff00;
}

.yellow a {
    background-color: #ffd700;
}

.yellow a::before {
    background-color: #ffd700;
}

.yellow a::after {
    background-color: #ffff00;
}