// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.switch {
    width: 200px;
    height: 50px;
    border-radius: 50%;
}

/* 2. スイッチ本体 */
.switch a {
    position: relative;
    top: -18px;
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 40px;
}

.list ul{
    margin-left: 200px;
}

.list li{
    list-style: none;
    position: relative;
    float:left;
    margin: 100px 0 0 50px;
    width: 25%;
}

/* 押した時にボタンが押し込まれる */
.switch a:active {
    height: 20px;
    top: 2px;
}

/* ボタン本体を円柱に見せるために */
.switch a::before,
.switch a::after {
    position: absolute;
    left: 0;
    display: block;
    width: 160px;
    height: 40px;
    border-radius: 100%;
    content: '';
}


.switch a::before {
    bottom: -20px;
}

.switch a::after {
    top: -20px;
}


//スイッチその１

.switch_red {
    background-color: #ff0000;
}

.switch_red a {
    background-color: #dc143c;
}

.switch_red a::before {
    background-color: #dc143c;
}

.switch_red a::after {
    background-color: #000;
}

//スイッチその２

.switch_brue {
    background-color: #0000ff;
}

.switch_brue a {
    background-color: #0000cd;
}

.switch_brue a::before {
    background-color: #0000cd;
}

.switch_brue a::after {
    background-color: #0000ff;
}

//スイッチその3

.switch_yellow {
    background-color: #ffff00;
}

.switch_yellow a {
    background-color: #ffd700;
}

.switch_yellow a::before {
    background-color: #ffd700;
}

.switch_yellow a::after {
    background-color: #ffff00;
}


.useredit{
    background-color: #e0ffff;
}

.editfield{
    background-color: #fff;
    opacity: 0.7;
}


